<h1>Data Science Tools and Ecosystem</h1>

<h3>In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

<h3><b>Objectives: </b></h3>
<ul>
    <li>List popular languages for Data Science </li>
    <li>List popular libraries for Data Science </li>
    <li>List popular development environments for Data Science </li>
</ul>

<h2>Author: </h2>
Mohammad Salimi

<h3> Some of the popular languages that Data Scientists use are: </h3>
<ol>
    <li> Python </li>
    <li> R </li>
    <li> Scala </li>
<ol>

<h3> Some of the commonly used libraries used by Data Scientists include: </h3>
<ol>
    <li>Numpy </li>
    <li>Pandas </li>
    <li>Scikit-Learn </li>
<ol>

<h3> Some of the commonly used data science tools: </h3>

|Data Science tools|
--------------------
|Jupyter |
|RStudio |
|Watson Cloud|

<h3> Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335